.container {
   width: 100%;
    margin: 0 auto;
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    align-items: center;

 }
 .container1 {
   width: 80% !important;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
 }

 @media screen and (max-width: 430px) 
 {
   .container {
        font-size: 1rem !important;
     }
 }
 @media screen and (max-width: 720px) 
 {
   .container {
        font-size: 1rem !important;
     }
 }
 @media screen and (max-width: 1080px)
 {
   .container {
        font-size: 1rem !important;
     }
 }

 @media screen and (max-width: 1280px)
 {}
 @media screen and (max-width: 1440px)
 {}
 @media screen and (max-width: 1680px)
 {}
 @media screen and (max-width: 1920px)
 {}
 @media screen and (max-width: 2400px)
 {}
 @media screen and (max-width: 2560px)
 {}
 @media screen and (max-width: 3840px)
 {}
 @media screen and (max-width: 4096px)
 {}





