.container {
   width: 100%;
    margin: 0 auto;
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    align-items: center;

 }
 .container1 {
   width: 80% !important;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
 }

.c2 {
   width: 80% !important;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    
}

.c3 {
   width: 80% !important;
    height: auto;
    margin: 0 auto;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;

}
.miniimg {
   width: 80%;
   height: auto;
   border-top: white solid;
   border-bottom: white solid;
   margin: 0 auto !important;
}






 @media screen and (max-width: 430px) 
 {
   html {
      font-size: calc(60% + 0.8vmin)
     }
   }
 @media screen and (max-width: 720px) 
 {
   html {
      font-size: calc(60% + 0.8vmin)
   }
 }
 @media screen and (max-width: 1080px)
 {
   html {
      font-size: calc(60% + 0.8vmin)
   }
}
 @media screen and (max-width: 1280px)
 {}
 @media screen and (max-width: 1440px)
 {}
 @media screen and (max-width: 1680px)
 {}
 @media screen and (max-width: 1920px)
 {}
 @media screen and (max-width: 2400px)
 {}
 @media screen and (max-width: 2560px)
 {}
 @media screen and (max-width: 3840px)
 {}
 @media screen and (max-width: 4096px)
 {}





